<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # If we don't turn this off, apache will issue a 301 redirect if a directory exists at %{REQUEST_FILENAME}
    DirectorySlash Off

    # If this file exists, just pass through to the file...
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule (.+) - [L,PT]

    # ...otherwise kick it back to index.php
    RewriteRule ^ ../index.php [L]
</IfModule>
